# Directories #
/build/
/bin/
target/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
sda/.recommenders/caches/identified-project-coordinates.json
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fdt
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fdx
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fnm
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.frq
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.nrm
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.prx
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.tii
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.tis
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_5
sda/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories
sda/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182659-5-ovrm.zip
sda/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties
sda/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
