# Directories #
/build/
/bin/
target/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
mobile_web_dev/.idea/encodings.xml
mobile_web_dev/.idea/misc.xml
mobile_web_dev/.idea/mobile_web_dev.iml
mobile_web_dev/.idea/modules.xml
mobile_web_dev/.idea/vcs.xml
mobile_web_dev/.idea/workspace.xml
mobile_web_dev/.idea/scopes/scope_settings.xml
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.gen
*.repositories
*.zip
*.properties
sda/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_5
sda/.recommenders/caches/identified-project-coordinates.json
mad/.recommenders/
